.react-datepicker {
    background: #000;
    border: 1px solid #6366f1;
    color: white;
}

.react-datepicker__header {
    background: #1e1b4b;
    border-bottom: 1px solid #6366f1;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
    color: white;
}

.react-datepicker__day {
    color: white;
}

.react-datepicker__day:hover {
    background: #1e1b4b !important;
}

.react-datepicker__day--selected {
    background: #6366f1;
}

.react-datepicker__navigation-icon::before {
    border-color: white;
}