@import "tailwindcss";

:root {
  --background: #FFFBF5;
  --foreground: #171717;
}

/* this is for dark mode on the entire page */
.dark {
  --background: #121019;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Helvetica, sans-serif;
}

/* for tailwind custom colors */
@theme {
  --color-cream: #F1EBE4;
  --color-darkpurple: #1A1825;
}

/* to remove ugly default calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* make the default scrollbar smaller */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #555;
}